@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.1467 0.0041 49.3141);
  --foreground: oklch(0.9701 0.0024 48.7209);
  --card: oklch(0.1935 0.0050 56.0752);
  --card-foreground: oklch(0.9701 0.0024 48.7209);
  --popover: oklch(0.1935 0.0050 56.0752);
  --popover-foreground: oklch(0.9701 0.0024 48.7209);
  --primary: oklch(0.5638 0.2055 31.5085);
  --primary-foreground: oklch(0.9701 0.0024 48.7209);
  --secondary: oklch(0.3204 0.0165 48.1829);
  --secondary-foreground: oklch(0.9701 0.0024 48.7209);
  --muted: oklch(0.2704 0.0087 55.9914);
  --muted-foreground: oklch(0.8042 0.0162 48.5117);
  --accent: oklch(0.5922 0.1662 45.8451);
  --accent-foreground: oklch(0.9701 0.0024 48.7209);
  --destructive: oklch(0.3959 0.1331 25.7205);
  --destructive-foreground: oklch(0.9701 0.0024 48.7209);
  --border: oklch(0.3718 0.0134 55.9384);
  --input: oklch(0.3221 0.0111 55.9597);
  --ring: oklch(0.5638 0.2055 31.5085);
  --chart-1: oklch(0.5638 0.2055 31.5085);
  --chart-2: oklch(0.5922 0.1662 45.8451);
  --chart-3: oklch(0.7435 0.1642 65.0526);
  --chart-4: oklch(0.6649 0.1498 45.3180);
  --chart-5: oklch(0.3959 0.1331 25.7205);
  --sidebar: oklch(0.1467 0.0041 49.3141);
  --sidebar-foreground: oklch(0.9701 0.0024 48.7209);
  --sidebar-primary: oklch(0.5638 0.2055 31.5085);
  --sidebar-primary-foreground: oklch(0.9701 0.0024 48.7209);
  --sidebar-accent: oklch(0.5922 0.1662 45.8451);
  --sidebar-accent-foreground: oklch(0.9701 0.0024 48.7209);
  --sidebar-border: oklch(0.3718 0.0134 55.9384);
  --sidebar-ring: oklch(0.5638 0.2055 31.5085);
  --font-sans: Geist, ui-sans-serif, sans-serif, system-ui;
  --font-serif: serif;
  --font-mono: Geist Mono, ui-monospace, monospace;
  --radius: 0.2rem;
  --shadow-x: 0rem;
  --shadow-y: 0.25rem;
  --shadow-blur: 1rem;
  --shadow-spread: 0rem;
  --shadow-opacity: 0.1;
  --shadow-color: 0 0 0;
  --shadow-2xs: 0rem 0.25rem 1rem 0rem hsl(0 0 0 / 0.05);
  --shadow-xs: 0rem 0.25rem 1rem 0rem hsl(0 0 0 / 0.05);
  --shadow-sm: 0rem 0.25rem 1rem 0rem hsl(0 0 0 / 0.10), 0rem 1px 2px -1px hsl(0 0 0 / 0.10);
  --shadow: 0rem 0.25rem 1rem 0rem hsl(0 0 0 / 0.10), 0rem 1px 2px -1px hsl(0 0 0 / 0.10);
  --shadow-md: 0rem 0.25rem 1rem 0rem hsl(0 0 0 / 0.10), 0rem 2px 4px -1px hsl(0 0 0 / 0.10);
  --shadow-lg: 0rem 0.25rem 1rem 0rem hsl(0 0 0 / 0.10), 0rem 4px 6px -1px hsl(0 0 0 / 0.10);
  --shadow-xl: 0rem 0.25rem 1rem 0rem hsl(0 0 0 / 0.10), 0rem 8px 10px -1px hsl(0 0 0 / 0.10);
  --shadow-2xl: 0rem 0.25rem 1rem 0rem hsl(0 0 0 / 0.25);
  --tracking-normal: 0;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.1822 0 0);
  --foreground: oklch(0.9701 0.0024 48.7209);
  --card: oklch(0.1913 0 0);
  --card-foreground: oklch(0.9701 0.0024 48.7209);
  --popover: oklch(0.1935 0.0050 56.0752);
  --popover-foreground: oklch(0.9701 0.0024 48.7209);
  --primary: oklch(0.6368 0.2435 27.7864);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.3204 0.0165 48.1829);
  --secondary-foreground: oklch(0.9701 0.0024 48.7209);
  --muted: oklch(0.2478 0 0);
  --muted-foreground: oklch(0.8042 0.0162 48.5117);
  --accent: oklch(0.3083 0.0043 17.3906);
  --accent-foreground: oklch(0.9701 0.0024 48.7209);
  --destructive: oklch(0.3959 0.1331 25.7205);
  --destructive-foreground: oklch(0.9701 0.0024 48.7209);
  --border: oklch(0.2457 0.0030 17.3634);
  --input: oklch(0.2457 0.0030 17.3634);
  --ring: oklch(0.6368 0.2435 27.7864);
  --chart-1: oklch(0.5638 0.2055 31.5085);
  --chart-2: oklch(0.5922 0.1662 45.8451);
  --chart-3: oklch(0.7435 0.1642 65.0526);
  --chart-4: oklch(0.6649 0.1498 45.3180);
  --chart-5: oklch(0.3959 0.1331 25.7205);
  --sidebar: oklch(0.1467 0.0041 49.3141);
  --sidebar-foreground: oklch(0.9701 0.0024 48.7209);
  --sidebar-primary: oklch(0.5638 0.2055 31.5085);
  --sidebar-primary-foreground: oklch(0.9701 0.0024 48.7209);
  --sidebar-accent: oklch(0.2760 0.0044 17.4261);
  --sidebar-accent-foreground: oklch(0.9701 0.0024 48.7209);
  --sidebar-border: oklch(0.3718 0.0134 55.9384);
  --sidebar-ring: oklch(0.5638 0.2055 31.5085);
  --font-sans: Geist, ui-sans-serif, sans-serif, system-ui;
  --font-serif: serif;
  --font-mono: Geist Mono, ui-monospace, monospace;
  --radius: 0.2rem;
  --shadow-x: 0rem;
  --shadow-y: 0.25rem;
  --shadow-blur: 1rem;
  --shadow-spread: 0rem;
  --shadow-opacity: 0.1;
  --shadow-color: 0 0 0;
  --shadow-2xs: 0rem 0.25rem 1rem 0rem hsl(0 0 0 / 0.05);
  --shadow-xs: 0rem 0.25rem 1rem 0rem hsl(0 0 0 / 0.05);
  --shadow-sm: 0rem 0.25rem 1rem 0rem hsl(0 0 0 / 0.10), 0rem 1px 2px -1px hsl(0 0 0 / 0.10);
  --shadow: 0rem 0.25rem 1rem 0rem hsl(0 0 0 / 0.10), 0rem 1px 2px -1px hsl(0 0 0 / 0.10);
  --shadow-md: 0rem 0.25rem 1rem 0rem hsl(0 0 0 / 0.10), 0rem 2px 4px -1px hsl(0 0 0 / 0.10);
  --shadow-lg: 0rem 0.25rem 1rem 0rem hsl(0 0 0 / 0.10), 0rem 4px 6px -1px hsl(0 0 0 / 0.10);
  --shadow-xl: 0rem 0.25rem 1rem 0rem hsl(0 0 0 / 0.10), 0rem 8px 10px -1px hsl(0 0 0 / 0.10);
  --shadow-2xl: 0rem 0.25rem 1rem 0rem hsl(0 0 0 / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

body {
  letter-spacing: var(--tracking-normal);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}